
hw7/ref/.DS_Store
*.txt
*.1
*.pdf
*.docx
hw1/p2/.DS_Store
fraig/.DS_Store
hw1/.DS_Store
hw7/.DS_Store
hw6/.vscode/settings.json
hw6/.DS_Store
*.doc
hw4/.vscode/settings.json
hw4/.DS_Store
hw3/src/db/.DS_Store
*.o
hw3/src/.DS_Store
hw3/src/cmd/.DS_Store
hw4/src/.DS_Store
*.json
hw5/.DS_Store
*.py
hw4/SelfCheck
hw2/.DS_Store
hw2/SelfCheck
hw3/.DS_Store
hw3/dofiles/.DS_Store
hw3/ref/.DS_Store
hw6/do1
hw7/test
hw7/testref
.DS_Store
